* {
  box-sizing: border-box;
}

body { 
  margin: 0;
  font-family: $fontDefault;
  color: $crimson;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

h1,
h2 {
  font-family: $fontTitle;
  color: $crimson;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

ul li {
  list-style: none;
}

.btn {
  padding: 6px 15px;
}

.upper {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

// main {
//   background-color: #d7f6fb;

//   .container {
//     background-color: #ffffff;
//   }
// }

