// feuille de style des BOUTTONS
.ds {
  font-family: $fontTitle;
  font-size: 1.5rem;
}

.btn {
  display: block;
  background-color: $crimson;
  color: $white;

  @media (min-width: $bpMedium) {
    display: inline-block;
    margin-left: auto;
  }
}