// feuille de style des BOUTTONS
.ds {
  font-family: $fontTitle;
  font-size: 1.5rem;
}

.btn {
  display: block;
  background-color: $crimson;
  color: $white;
  margin: 15px 15px 0 15px;
  

  &:hover{
    background-color: $orange;
    color: $crimson;
  }
  @media (min-width: $bpMedium) {
    display: inline-block;
    margin-left: auto;
    margin-right: 50px;
  }
}


//Back to top
#scroll {
  position:fixed;
  right:10px;
  bottom:10px;
  cursor:pointer;
  width:50px;
  height:50px;
  background-color: $blue;
  text-indent:-9999px;
  display:none;
  -webkit-border-radius:60px;
  -moz-border-radius:60px;
  border-radius:60px
}
#scroll span {
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-8px;
  margin-top:-12px;
  height:0;
  width:0;
  border:8px solid transparent;
  border-bottom-color:#ffffff;
}
#scroll:hover {
  background-color: $orange;
  opacity:1;filter:"alpha(opacity=100)";
  -ms-filter:"alpha(opacity=100)";
}

