// section presentation
.presentation {
    padding: 40px 0;
}

.cartes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 40px 0;
    @media (min-width: $bpMedium) {
        flex-direction: row;
        justify-content: space-evenly;
    }
    a {
        color: $linkColor;
        text-decoration: none;
    }
}

.card {
    flex-grow: 1;
    align-items: center;
    padding: 40px 20px;
    max-width: 225px;
    border-radius: 22px;
    &:hover {
        box-shadow: 0px 0px 20px #00000071;
    }
    @media (min-width: $bpMedium) {
        max-width: 250px;
    }
    &:nth-of-type(1) {
        margin-bottom: 60px;
        @media (min-width: $bpMedium) {
            margin-bottom: 0px;
        }
    }
    img {
        max-width: 157px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    .btn_infos_plus {
        font-size: 2rem;
        padding: 0;
    }
}

.card-text {
    padding-bottom: 15px;
}

//Section pro
.pro {
    display: flex;
    flex-direction: column;
    background: url(../images/9.jpg);
    background-size: cover;
    padding: 40px 0;
    @media (min-width: $bpLarge) {
        h1 {
            margin-bottom: 24px;
        }
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .pro_content {
            display: flex;
            flex-direction: column;
            align-items: center;
            @media (min-width: $bpLarge) {
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
        }
        .auxiliaire {
            margin: 1rem auto;
            @media (min-width: $bpLarge) {
                margin: 0;
                min-width: 250px;
            }
        }
        @media (min-width: $bpLarge) {
            .aventure {
                flex-basis: 50%;
                padding: 0 20px;
            }
        }
    }
}

//Section services
.services {
    align-items: center;
    padding: 40px 0px;
    h1 {
        margin-bottom: 24px;
    }

    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto,
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto,
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto,
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto,
    .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
        padding-right: 0px;

        @media (min-width: $bpMedium) {
            padding-left: 0px;
        }
    }
}

.petale {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: relative;
    padding-left: 15px;
    h2 {
        position: absolute;
        left: 70px;
        bottom: 0;
    }
}

// section tarifs
.tarifs {
    padding: 60px 0;
    h1 {
        margin-bottom: 0;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tarifs_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (min-width: $bpLarge) {
            flex-direction: row;
            align-items: flex-start;
            margin-top: 40px;
        }
        .img_tarifs {
            margin: 1rem auto;
            @media (min-width: $bpLarge) {
                margin: 0 15px 0 0;
            }
        }
        table {
            margin: 0 auto;
            @media (min-width: $bpLarge) {
                margin: 0 0 0 15px;
            }
        }
    }
    .txt_tarifs {
        font-size: 0.75rem;
        p:nth-of-type(1) {
            margin-bottom: 8px;
        }
    }
}

// Aides
.aides {
    display: flex;
    flex-direction: column;
    padding: 60px 0 40px 0;
    @media (min-width: $bpLarge) {
        h1 {
            margin-bottom: 24px;
        }
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .aides_content {
            display: flex;
            flex-direction: column;
            align-items: center;
            @media (min-width: $bpLarge) {
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
            .illus {
                margin: 1rem auto;
                @media (min-width: $bpLarge) {
                    margin: 0;
                    min-width: 250px;
                }
            }
            p {
                margin-bottom: 15px;
                @media (min-width: $bpLarge) {
                    flex-basis: 50%;
                    padding: 0 20px;
                }
            }
        }
    }
}